{% trans_default_domain 'admin.products.brand' %}



<ul class="nav nav-pills gap-3 mb-3" id="nav-payment">
	
	
	<li class="nav-item" role="presentation">
		<button class="btn fw-bolder nav-link active"
				data-bs-toggle="tab"
				type="button"
				role="tab"
				aria-selected="true"
				
				id="tab_main-tab"
				data-bs-target="#tab_main"
				aria-controls="nav-payment"
		>
			<small class="text-uppercase px-3">
				{# Основные настройки #}
				Основные настройки
			</small>
		</button>
	</li>
	
	
	<li class="nav-item">
		<button class="btn fw-bolder nav-link"
				data-bs-toggle="tab"
				type="button"
				role="tab"
				aria-selected="true"
				
				id="tab_description-tab"
				data-bs-target="#tab_description"
				aria-controls="nav-payment"
		>
			<small class="text-uppercase px-3">
				{# Пользовательские поля #}
				Описание
			</small>
		</button>
	</li>


</ul>

<div class="tab-content" id="payment_tab_content">
	
	{# ОСНОВНЫЕ НАСТРОЙКИ #}
	<div class="tab-pane fade show active" id="tab_main" role="tabpanel">
		{{ include(_self|replace({ "form.html.twig": "main/form.main.html.twig" })) }}
	</div>
	
	<div class="tab-pane fade" id="tab_description" role="tabpanel">
		{{ include(_self|replace({ "form.html.twig": "description/form.description.html.twig" })) }}
	</div>

</div>
